<div class="trafics-container">

  <div class="trafics-header">
    <mat-icon class="header-icon">calculate</mat-icon>
    <h3>Trafics calculés</h3>

    <mat-form-field appearance="outline" class="jours-field">
      <mat-label>Jours / semaine</mat-label>
      <mat-select [ngModel]="joursParSemaine"
                  (selectionChange)="onJoursParSemaineChange($event.value)">
        <mat-option *ngFor="let j of joursOptions" [value]="j">{{ j }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="trafics">

    <ng-container matColumnDef="produit">
      <th mat-header-cell *matHeaderCellDef>Produit</th>
      <td mat-cell *matCellDef="let row">{{ row.produit }}</td>
    </ng-container>

    <ng-container matColumnDef="volumeBrut">
      <th mat-header-cell *matHeaderCellDef>Volume brut</th>
      <td mat-cell *matCellDef="let row">{{ row.volumeBrut | number:'':'fr' }}</td>
    </ng-container>

    <ng-container matColumnDef="constateBrut">
      <th mat-header-cell *matHeaderCellDef>Constaté brut</th>
      <td mat-cell *matCellDef="let row">{{ row.constateBrut | number:'':'fr' }}</td>
    </ng-container>

    <ng-container matColumnDef="previsionnelBrut">
      <th mat-header-cell *matHeaderCellDef>Prévisionnel brut</th>
      <td mat-cell *matCellDef="let row">{{ row.previsionnelBrut | number:'':'fr' }}</td>
    </ng-container>

    <ng-container matColumnDef="traficMoyenHebdo">
      <th mat-header-cell *matHeaderCellDef>Trafic moyen hebdo</th>
      <td mat-cell *matCellDef="let row" class="computed-cell">{{ row.traficMoyenHebdo | number:'':'fr' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
